
@{
    Layout = null;
}

<br /><br />
<!-- Start content -->
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">打印机列表</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped" style="table-layout:fixed;">
                <thead>
                    <tr>
                        <th>楼层</th>
                        <th>打印机共享名</th>
                        <th>Alarm</th>
                        <th>Datetime</th>
                        <th>Description</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3F</td>
                        <td>3F HP_M9040</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4F</td>
                        <td>4F HP_M9040 A & 4F HP_M9040 B</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7F</td>
                        <td>7F HP_M9040</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8F</td>
                        <td>8F HP_M725 & 8F HP_M9040</td>
                        <td>Print Server 2008 Queue Out Of Paper Errors are High</td>
                        <td>2018/5/10 3:23PM</td>
                        <td>Monitor the Performance Measuring:Print Queue\Out Of Paper Errors</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>9F</td>
                        <td>9F HP_M9040</td>
                        <td>Print Server 2008 Queue Out Of Paper Errors are High</td>
                        <td>2018/5/10 9:23PM</td>
                        <td>Monitor the Performance Measuring:Print Queue\Out Of Paper Errors</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>10F</td>
                        <td>10F HP_M9040</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11F</td>
                        <td>11F HP_M9040</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    






