
@{
    Layout = null;
}
<br /><br />
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Server List</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped" style="table-layout:fixed;">
                <thead>
                    <tr>
                        <th>基本信息</th>
                        <th>IP</th>
                        <th>管理IP</th>
                        <th>用途</th>
                        <th>负责人</th>
                        <th>第二负责人</th>
                        <th>SLA</th>
                        <th>资产编号</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>ZXBJPS01</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="8"></td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                        <th>硬件信息</th>
                        <th>型号</th>
                        <th>S/N</th>
                        <th>保固日期</th>
                        <th>CPU</th>
                        <th>内存</th>
                        <th>逻辑硬盘</th>
                        <th>物理硬盘</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>ZXBJPS01</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="8"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>应用和灾备信息</th>
                        <th>OS</th>
                        <th>OS Version</th>
                        <th>主要应用软件</th>
                        <th>杀毒</th>
                        <th>SCOM</th>
                        <th>备份类型</th>
                        <th>备份计划</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>ZXBJPS01</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



